@media screen and (max-width: 788px){

    .nav-menu{

        position: relative;}

    .div-menu{
        
        display: none;}

    .logo{

        margin: 0;
        text-align: center;}

    .header{

        margin-top: 100px;}

    .headline{

        height: 850px;
        display: flex;
        flex-direction: column;
        text-align: center;}

    .header-content{

        margin-right: 60px;}

    .header-img{

        flex: 100%;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 0;}

    .section-cards{

        margin-bottom: 15px;
        gap: 15px;
        flex-direction: column;
        display: flex;}

    .cards{

        width: 90%;}

    .cards:hover{

        box-shadow: none;
        transform: none;}

    .marketing-brand{

        margin-left: 5%;
        justify-content: center;
        width: 90%;}
    
    .marketing-brand-content{

        height: 300px;
        width: 50%;}
    
    .marketing-brand-content img{
    
        width: 80px;
        height: 80px;}
    
    .marketing-brand-content h2{
    
        color: #221286;
        font-size: 20px;}
    
    .marketing-brand-content p{
  
        margin-top: 0;
        font-size: 10px;
        width: 50%;}
    
    .marketing-brand-img{

        width: 50%;
        height: 300px;}

    .whats{

        display: none;}

    .section-cta{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 1100px;}

    .cta-content{

        margin-right: 0px;}

    .cta-content h2{

        border: 1px solid red;
        width: 350px;
        font-size: 55px;}

    .cta-content p{

        color: white;
        width: 350px;
        font-size: 28px;}

    .cta-img{

        border: 1px solid red;
        margin-left: 0%;
        height: 425px;
        margin-top: 60px;}
    }